/*///////////////////////
Base
///////////////////////*/
html {
  font-size: 62.5%;
   /* 1rem = 10px */
  scroll-behavior: smooth;
}
body {
}

/*/ //////////////////////
Layout
///////////////////////*/
.container {
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/*///////////////////////
Common
///////////////////////*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.ttl {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2em;
}
/*/ //////////////////////
Header
///////////////////////*/
header {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 4px 4px 16px rgba(51, 51, 51, 0.3);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 220px;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
/*/ //////////////////////
Header
///////////////////////*/
#gnav ul {
  display: flex;
  gap: 30px;
}

/*/ //////////////////////
MV
///////////////////////*/
#mv {
  position: relative;
  height: 100vh;
  background-image: url(./images/menu10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#mv::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: #f66; */
  background-image: linear-gradient(180deg, #c9ffbf 0%, #ffafbd 100%);
  mix-blend-mode: hue;
}
.mv__ttl {
  font-family: 'Philosopher', sans-serif;
  font-size: 6.2rem;
  text-align:center
}
/*/ //////////////////////
Lead Contens
///////////////////////*/
.lead__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.lead__left {
}
.lead__right {
  padding: 1em 2em;
  background: aliceblue;
}
@media (min-width: 768px) {
  .lead__wrapper {
    flex-direction: row;
  }
  .lead__wrapper:nth-of-type(2n) {
    flex-direction: row-reverse;
    left: auto;
    right: 20px;
  }
  .lead__left {
    width: 45%;
    position: relative;
    top: -40px;
    left: 20px;
  }
  .lead__right {
    width: 55%;
  }
  /* .lead__wrapper--reverse{
    flex-direction: row-reverse;
  } */
}
/* #lead > :nth-child(even) {
  flex-direction: row-reverse;
} */
.posi__box__wrapper {
  position: relative;
  height: 600px;
  display: flex;
  gap: 20px;
  background-color: #fff;
}
.posi__box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f66;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}
.posi__box:nth-of-type(1) {
  z-index: 6;
  /* position: absolute;
  bottom: 10px;
  right: -10px; */

}
.posi__box:nth-of-type(2) {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 10;
  background-color: aqua;
}
.posi__box:nth-of-type(3) {
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 1;
  background-color: blue;
}
